html,
body {
    height: 100%;
}

.chat-messages-show-container {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 90vh;
    ;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.chat-messages-show-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.chat-messages-create-container {
    background: #616161;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.chat-messages-create-input {
    padding: 12px;
    margin: 29px 30px;
    flex: 2
}

.chat-messages-create-button {
    height: 50px;
    margin: auto 40px;
    width: 100px;
}

.jumbotron {
    height: 100vh;
    width: 100vh;
}